gazebo7
libignition-math2-dev
ros-kinetic-camera-info-manager
ros-kinetic-camera-info-manager-py
ros-kinetic-controller-manager
ros-kinetic-ddynamic-reconfigure-python
ros-kinetic-depthimage-to-laserscan
ros-kinetic-desktop-full
ros-kinetic-gazebo-plugins
ros-kinetic-gazebo-ros
ros-kinetic-gazebo-ros-control
ros-kinetic-humanoid-msgs
ros-kinetic-humanoid-nav-msgs
ros-kinetic-image-view
ros-kinetic-joint-state-publisher-gui
ros-kinetic-move-base-msgs
ros-kinetic-octomap
ros-kinetic-octomap-msgs
ros-kinetic-pepper-bringup
ros-kinetic-pepper-description
ros-kinetic-pepper-dcm-bringup
ros-kinetic-pepper-gazebo-plugin
ros-kinetic-pepper-meshes
ros-kinetic-pepper-moveit-config
ros-kinetic-pepper-robot
ros-kinetic-ros-controllers
ros-kinetic-ros-control
ros-kinetic-rosbridge-library
ros-kinetic-rosbridge-msgs
ros-kinetic-rosbridge-server
ros-kinetic-tf2-sensor-msgs
