<launch>
  <arg name="manager"/>
  <arg name="camera_bottom" default="/naoqi_driver/camera/bottom"/>
  <arg name="camera_front" default="/naoqi_driver/camera/front/"/>
  <arg name="camera_depth" default="/naoqi_driver/camera/depth"/>
  <arg name="camera_ir" default="/naoqi_driver/camera/ir"/>

  <!-- Launch the image_proc node -->
  <node pkg="nodelet" type="nodelet" args="manager" name="record_manager"/>

  <group ns="$(arg camera_depth)">
    <include file="$(find rgbd_launch)/launch/includes/processing.launch.xml">
      <arg name="rgb_processing" value="true"/>
      <arg name="depth_processing" value="true"/>
      <arg name="ir_processing" value="false"/>
      <arg name="depth_registered_processing" value="true"/>
      <arg name="hw_registered_processing" value="true"/>
      <arg name="sw_registered_processing" value="true"/>
      <arg name="debayer_processing" value="true"/>
    </include>
  </group>

  <!-- Convert the depth image to an RGB image
  <node pkg="nodelet" type="nodelet" name="conversion_depth" args="load depth_image_proc/convert_metric record_manager no-bond">
    <param encoding="32FC1" name="depth_frame_id" value="$(arg camera_depth)/depth_frame"/>
    <remap from="image_raw" to="$(arg camera_depth)/image_raw"/>
    <remap from="image" to="$(arg camera_depth)/image_rgb"/>
  </node>-->

<!--
  <node pkg="nodelet" type="nodelet" name="conversion_depth" args="load depth_image_proc/convert_metric record_manager">
    <param name="format" value="bgr8"/>
    <remap from="image_raw" to="/naoqi_driver/camera/depth/image_raw"/>
    <remap from="image" to="/naoqi_driver/camera/depth/image_rgb"/>
  </node>-->

  <!-- Depth Registerd-->
  <!--<node pkg="nodelet" type="nodelet" name="register" args="load depth_image_proc/register record_manager no-bond approx_sync_max_interval=0.001">
    <remap from="depth/image_rect" to="$(arg camera_depth)/image_rect"/>
    <remap from="depth/camera_info" to="$(arg camera_depth)/camera_info"/>
    <remap from="depth_registered" to="$(arg camera_depth)/registered"/>
  </node>-->
<!--
  <node pkg="nodelet" type="nodelet" name="conversion_ir" args="load depth_image_proc/convert_metric record_manager">
    <remap from="image_raw" to="$(arg camera_ir)/image_raw"/>
    <remap from="image" to="$(arg camera_ir)/image_rgb"/>
  </node>
  <group ns="$(arg camera_ir)">
    <node name="image_proc" pkg="image_proc" type="image_proc">
      <remap from="image_raw" to="$(arg camera_ir)/image_rgb"/>
    </node>
  </group>
  -->



</launch>
