<launch>
   <arg name="imu_topic"               default="/naoqi_driver/imu/base" />
  <arg name="imu_ignore_acc"          default="true" />
  <arg name="imu_remove_gravitational_acceleration" default="true" />
  <arg name="frame_id"                default="base_footprint" />
  <arg name="rgb_topic"               default="/naoqi_driver/camera/front/image_raw" />
  <arg name="depth_topic"             default="/naoqi_driver/camera/depth/image_raw" />
  <arg name="camera_info_topic"       default="/naoqi_driver/camera/front/camera_info" />
  <arg name="odom_topic"              default="/naoqi_driver/odom" />
  <arg name="laser_topic" default="/naoqi_driver/laser" />
  <group ns="rtabmap">
    <!--SLAM-->
    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" args="--delete_db_on_start --verbosity 3">
      <param name="frame_id"               type="string" value="$(arg frame_id)"/>

      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_rgbd" type="bool" value="false"/>
      <param name="subscribe_scan" type="bool" value="true"/>
      <remap from="rgb/image"       to="$(arg rgb_topic)"/>
      <remap from="depth/image"     to="$(arg depth_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
      <remap from="scan" to="$(arg laser_topic)"/>
      <param name="imu" value="$(arg imu_topic)"/>
      <!--<remap from="rgbd_image" to="/naoqi_driver/rgbd_image"/>-->
      <param name="queue_size" type="int" value="10"/>

      <param name="Grid/3D" type="string" value="true"/>
      <param name="Grid/Scan2dUnknownSpaceFilled" value="true"/>
      <param name="Grid/RayTracing" type="string" value="true"/>
      <!--<param name="Grid/CellSize" type="string" value="0.05"/>-->

      <param name="Reg/Force3DoF" type="string" value="true"/>
      <param name="Reg/Strategy" type="string" value="1"/> <!-- 1=ICP -->

      <!--<param name="Optimizer/Strategy" type="string" value="0"/>
      <param name="Vis/EstimationType" type="string" value="0"/>
      <param name="Vis/MinInliers" type="string" value="10"/>

      <param name="Icp/Strategy"                 type="string" value="2"/>
      <param name="Icp/PointToPlane"             type="string" value="true"/>
      <param name="Icp/MaxTranslation"           type="string" value="0.3"/>-->
      <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
      <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
    </node>
  </group>

</launch>